/* hack */
.entry {
    overflow: initial !important;
}

.res-commentBoxes .comment {
    overflow: initial !important;
}
/* delete */


.info-hoverable:hover .info-container {
	visibility: visible;
}

.info-hoverable {
	position: relative;
}

.info-container {
	visibility: hidden;
	width: 800px;
	background-color: #1f1f1f;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 999999;
	bottom: 110%;
  	left: 50%; 
  	margin-left: -80px;
}

#siteTable .info-container {
	top: 100%;
    bottom: unset !important;
}

.imageTagContainer {
	display: flex;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.imageDiv {
	margin-right: 20px !important;
	max-width: 250px;
	max-height: 280px;
}

.image {
	margin-left: 10px !important;
	margin-right: 10px !important;
	max-width: 250px;
	max-height: 280px;
}

.tagDiv {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}


.tag {
	border-radius: 3px;
	color: #fff;
	margin: 2px !important;
	padding: 2px 6px 3px;
	background: #4d4d4d;
	height: fit-content;
}

.favorite-tag {
	background: #642a75 !important;
}

@media (max-width: 1580px) {
	.tooltip-container {
		z-index: 99;
		left: 0%;
		width: 100%;
		max-width: unset;
	}
  }